:root {
    --color-primary: #F1CDB3;
    --color-light-xl: #FFFFFF;
    --color-light-l: #F6F6F6;
    --color-dark-m: #B2B2B2;
    --color-dark-s: #CDCDCD;
    --color-dark-3xl: #292929;
    --color-dark-l: #545454;
    --color-dark-xl: #4C4C4C;
    --color-light-s: #FAFAFA;
    --color-primary-light: #FDDCC4;
}
/*general style*/
.color-primary {
    color: var(--color-primary);
}
.color-light-xl {
    color: var(--color-light-xl);
}
.color-dark-s {
    color: var(--color-dark-s);
}
.color-dark-xl {
    color: var(--color-dark-xl);
}
.color-dark-l {
    color: var(--color-dark-l);
}
h2 {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 44px;
    line-height: 130%;
    display: flex;
    align-items: center;
}
h3 {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
}
h4 {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    letter-spacing: 0.06em;
}
h5 {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 110%;
    display: flex;
    align-items: center;
    letter-spacing: 0.06em;
}
br {
    height: 25px;
}
p {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    display: flex;
    align-items: center;
}
a {
    text-decoration: none;
}
body {
    margin: 0;
}


/*Navigation*/
.logo_title {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 110%;
    display: flex;
    align-items: center;
    letter-spacing: 0.06em;
    color: var(--color-dark-l);
    margin: 0 0 10px 0;
}
.logo_subtitle {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    display: flex;
    align-items: center;
    letter-spacing: 0.1em;
    color: var(--color-dark-3xl);
    margin: 10px 0 0 0;
}
.Logo {
    position: relative;
    width: 186px;
    height: 60px;
    display: inline-flex;
}
.navigation-bar {
    position: fixed;
    width: calc(100% - calc(100% - 1200px));
    height: 60px;
    margin-left: auto;
    margin-right: auto;
    z-index: 2;
    padding: 30px calc(50% - 1200px/2) 30px calc(50% - 1200px/2);
    background: var(--color-light-xl);
}
.navigation {
    position: relative;
    height: fit-content;
    width: fit-content;
    margin: 0px;
    display: inline-flex;
    float: right;
    top: 16px;

}
.navigation ul {
    list-style-type: none;
    width: min-content;
    margin: 0px;
    padding: 0;
    display: inline-flex;
    flex-direction: row;
    column-gap: 35px;
}
.navigation li {
    width: max-content;
}
.link {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    text-decoration: none;
    line-height: 160%;
    color: var(--color-dark-l);
    margin: 0;
}
.active_link {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    text-decoration: none;
    line-height: 160%;
    color: var(--color-dark-3xl);
    border-style: none none solid none;
    border-color: var(--color-primary);
    border-width: 3px;
}
/*Pets*/
.pets {
    position: absolute;
    height: 1342px;
    left: 0%;
    right: 0%;
    top: 120px;
    background: var(--color-light-l);
}
.pets-content {
    position: absolute;
    width: 1200px;
    height: 1162px;
    left: calc(50% - 1200px/2);
    top: 80px;
}
.heading {
    position: absolute;
    width: 400px;
    height: 90px;
    left: calc(50% - 400px/2);
    top: 0px;
    margin: 0;
}
.cards-conteiner {
    position: absolute;
    width: 1200px;
    height: 930px;
    left: 0px;
    top: 135px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 30px;
    column-gap: 40px;
}
.card {
    background: var(--color-light-s);
    width: 270px;
    height: 435px;
    display: flex;
    margin: 0;
    border-radius: 9px;
}
.card:hover {
    background: white;
    cursor: pointer;
}
.card figure {
    width: 270px;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin: 0;
}
.card img {
    height: 270px;
}
.Lern-more {
    align-items: center;
    margin: 0 auto;
    display: block;
    border: 2px solid var(--color-primary);
    border-radius: 100px;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    color: var(--color-dark-3xl);
    padding: 15px 45px;
    gap: 10px;
    width: 187px;
    height: 52px;
    background: none;
}
.card:hover .Lern-more {
    background: var(--color-primary-light);
    cursor: pointer;
    border-color: var(--color-primary-light);
}
.card figcaption {
    text-align: center;
    justify-content: center;
    align-items: center;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--color-dark-l);
    margin: 1.5em auto;
}
.pages {
    position: absolute;
    width: 340px;
    height: 52px;
    left: 430px;
    top: 1110px;
}
button {
    border: 2px solid;
    border-radius: 100px;
    font-size: large;
    width: 52px;
    height: 52px;
    background: none;
}
button h4 {
    margin: 0;
}
.to-start, .back {
    border-color: var(--color-dark-s);
}
.page {
    border-color: var(--color-primary);
    background: var(--color-primary);
}
.next, .to-end {
    border-color: var(--color-primary);
}
/*foter*/
.footer {
    background: url(../assets/images/95577108af837b8b441616746225b66e.png), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
    position: absolute;
    height: 350px;
    left: 0%;
    right: 0%;
    top: 1462px;
}
.footer-content {
    position: absolute;
    width: 1200px;
    height: 310px;
    left: calc(50% - 1200px/2);
    top: 40px;
    display: flex;
    flex-direction: row;
    column-gap: 160px;
}
.footer-content h3, .footer-content h4 {
    margin: 0%;
}
.contacts {
    width: 279px;
    height: 234px;
    margin: 0%;
    display: flex;
    flex-direction: column;
    row-gap: 40px;
}
.location {
    width: 302px;
    height: 234px;
    display: flex;
    flex-direction: column;
    row-gap: 40px;
}
.footer-dog {
    width: 300px;
    height: 310px;
}
.footer-content a {
    height: 32px;
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    align-items: center;
    color: var(--color-primary);
}
.footer-cell {
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    align-items: center;
}
.footer-content a:hover {
    color: var(--color-primary-light);
    text-shadow: 2px 2px 4px var(--color-dark-l);
}